<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">당신은 너무 구닥따리 군요! You're so SUCKS<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    <div class="visible">
      {{ content }}
    </div>
    <script src="//cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/index.min.js" | prepend: site.baseurl }}"></script>
    {% include analytics.html %}
</body>
</html>
